@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Ribeye&family=Roboto&family=Silkscreen:wght@400;700&display=swap');

h1 {
  font-family: 'Silkscreen', sans-serif;
  text-align: center;
  font-size: 5vw;
  color: #14334a;

  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 8vh;
}
